/* General Styles */
@keyframes slide-left {
    0% {
        translate: 150vh 0;
    }

    100% {
        padding-bottom: 0 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*:not(dialog) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

button,
.buttons input {
    font-size: 30px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: aquamarine;
    cursor: pointer;
    transition: 0.2s;
}

/* Header Styles */
header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    font-size: 50px;
    animation-name: slide-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

header {
    background-color: tan;
}

header img {
    height: 200px;
    transition: 0.5s;
}

/* Main (section) Styles */
main {
    margin: 50px;
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
}

.input > button:hover {
    background-color: rgb(88, 186, 153);
    padding: 25px;
    transition: 0.2s;
}

section {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 10px;
}

.card {
    border: 1px solid gray;
    border-top: 10px solid tan;
    color: black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.card button {
    justify-self: flex-start;
    font-size: 20px;
    padding: 10px;
    margin: 10px 5px;
    transition: 0.2s;
}

.card button:hover,
.buttons input:hover {
    background-color: rgb(88, 186, 153);
    transition: 0.2s;
}

/* Dialog Styles */
form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 25px;
    transition: 0.5s;
}

form > label:not(:first-child),
form > div {
    margin-top: 30px;
}

form div:last-child {
    align-self: center;
}

.buttons input,
form input {
    padding: 10px;
    font-size: 20px;
}